{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "rules": {
    "max-len": [1, 120, 2, { "ignoreComments": true }],
    "react/prop-types": "warn",
    "no-console": "warn"
  },
  "overrides": [
    {
      "files": ["webpack.config.js", "index.js"],
      "rules": {
        "no-undef": "off"
      }
    }
  ],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "globals": {
    "fetch": false,
    "process": false
  },
  "env": {
    "browser": true
  }
}
