@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Muli:400,700');
@import url('https://fonts.googleapis.com/css?family=Philosopher:400,700');

// import Line Awesome icons
@import '../../node_modules/line-awesome/dist/line-awesome/css/line-awesome.min.css';

@import './variables.scss';

// Update Bulma's global variables
$family-sans-serif: 'Muli', sans-serif;
$primary: $jinn_primary;
$link: $jinn_primary;
$link-hover: $jinn_primary_75;

// Update some of Bulma's component variables
$body-background-color: $jinn_bg;
$body-color: #fff;
$tablet: 768px;

// menu
$menu-item-color: #fff;
$menu-label-color: $jinn_lightest;

// footer
$footer-background-color: $jinn_bg;

// Import only what you need from Bulma
@import '../../node_modules/bulma';
@import '../../node_modules/bulma-switch/dist/css/bulma-switch.sass';

// prevent radio button's text from color changing
.radio:hover {
  color: inherit;
}

// override pagination background color
.pagination-previous,
.pagination-next,
.pagination-link {
  background-color: #fff;
}

// reset color of a link inside a tag
.tag > a {
  color: inherit;
}

.app__container {
  min-height: 55vh;
}
