@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Muli:400,700');
@import url('https://fonts.googleapis.com/css?family=Philosopher:400,700');
@import './variables.scss';

// Update Bulma's global variables
$family-sans-serif: 'Muli', sans-serif;
$primary: $jinn_primary;
$link: $jinn_primary;
$link-hover: $jinn_primary_75;

// Update some of Bulma's component variables
$body-background-color: $jinn_bg;
$body-color: #fff;
$tablet: 768px;

// menu
$menu-item-color: #fff;
$menu-label-color: $jinn_lightest;

// footer
$footer-background-color: $jinn_bg;

// Import only what you need from Bulma
@import '../../node_modules/bulma';
@import '../../node_modules/bulma-switch/dist/css/bulma-switch.sass';

.radio:hover {
  color: inherit;
}

.app__container {
  min-height: 55vh;
}
