@import '../../styles/variables.scss';

nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}

.navigation__shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: inset 100vw 100vh rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 100vw 100vh rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.navigation__navbar_active {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  width: 350px;
  min-height: 100vh;
  background-color: $jinn_bg;
  transform: translateX(200%);

  &.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
  }

  &.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(200%);
    opacity: 0;
  }
}

@-webkit-keyframes slide-out {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(200%);
    opacity: 0;
  }
}

.navigation__hamburger_button {
  position: relative;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  z-index: 15;
  display: inline-block;
  cursor: pointer;

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: $jinn_lightest;
    margin: 6px 0;
    transition: 0.4s;
  }

  &.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  &.change .bar2 {
    opacity: 0;
  }

  &.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}
