@import '../../../styles/mixins.scss';

.songForm__result {
  margin-top: 1em;

  .songForm__result_video_container {
    margin-top: 1em;
    display: flex;
    justify-content: center;

    @include tablet {
      margin-top: -1em;
    }

    @include mobile {
      margin-top: -1em;
    }

    .songForm__result_video {
      -webkit-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);

      @include tablet {
        transform: scale(0.75);
      }
      @include mobile {
        transform: scale(0.85, 0.75);
      }
    }
  }
}
