@import "../node_modules/bulma";

$main: #1D6B76;
$text: #B6DDE3;

html{
    background-color: $main;
    font-family: 'Muli', sans-serif;
}

.grayText{
    color: $text;
}

.headerText{
    font-size: 5em;
    letter-spacing: .3em;
    padding-left: 1em;
}

.headerImg{
    height: 200px;
    width: auto;
}

.dropdown{
    justify-content: center;
    margin: 1em 0 1em 0;
}